.calculator {
  max-width: 400px;
  margin: 50px auto;
}

#display, #secondaryDisplay {
  height: 60px;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-bottom: 10px;
}

.operation-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.btn {
  width: 100%;
  height: 80px;
  font-size: 1.5rem;
}





body {
  color: #6c757d;
}


  h1 {
    color: #370068;
  }